<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/gifplayer-0.3.3/jquery.gifplayer.js"></script>
{{ with resources.Get "js/cluster-checklist.js" }}{{ with . | minify | fingerprint }}
<script src="{{ .RelPermalink }}" defer></script>
{{ end }}{{ end }}
{{ with resources.Get "js/cluster-expanable.js" }}{{ with . | minify | fingerprint }}
<script src="{{ .RelPermalink }}" defer></script>
{{ end }}{{ end }}

{{ partial "google-analytics.html" . }}

<script src="/assets/prism-1.15.0/prism.js" defer></script>

<script async defer>
    $('.gifplayer').gifplayer();
</script>

<div class="text-center mt-5" id="footer">
    {{ with site.Params.footerHtml }}
    <p>
        {{ . | safeHTML }}
    </p>
    {{ end }}
</div>
