<div class="container-fluid no-padding-md-down">
    <nav class="navbar">
        <ul>
            {{ range site.Params.menu }}
                <li class="{{ if and .id (or (eq $.Params.id .id) (and (eq $.Section .id) (eq $.Kind "page"))) }}active{{ end }}">
                    <a href="{{ .url }}">
                        {{- if .hideOnSmall }}<span class="hidden-sm-down">{{ .name }}</span>{{ else }}{{ .name }}{{ end -}}
                    </a>
                </li>
            {{ end }}
            {{ if ne site.Params.showRssInMenu false }}
                <li>
                    <a href="/rss.xml"><img src="/assets/images/Rss-feed.svg" alt="RSS feed" class="inline-image"></a>
                </li>
            {{ end }}
            {{ with site.Params.searchDomain }}
                <li id="top-menu-search" class="hidden-xs-down">
                    <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope=""
                          itemtype="http://schema.org/SearchAction">
                        <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
                        <input name="sitesearch" value="{{ . }}" type="hidden"/>
                        <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required"
                               name="q" placeholder="{{ site.Params.searchPlaceholder | default "Search..." }}" autocomplete="off"/>
                    </form>
                </li>
            {{ end }}
        </ul>
    </nav>
</div>
